.user-profile-container {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
}

.top-container {
    display: flex;
    align-items: center;
}

.user-photo {
    height: 160px;
    width: 130px;
    background-color: rgba(179, 194, 194, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.user-photo img {
    max-height: 100%;
    object-fit: cover;
}

.user-name {
    font-size: 25px;
    font-weight: 500;
}

.email,
.location,
.birthday,
.name-and-surname {
    font-size: 14px;
    font-weight: 300;
}

.fa {
    margin-right: 5px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    margin-left: 50px;
}

.row-container {
    margin-top: 10px;
    display: flex;
}

.birthday {
    margin-left: 20px;
}

.btn-change-info {
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    width: 80px;
    border: none;
    font-size: 14px;
    color: #fff;
    padding: 8px 10px;
    background-color: #7d7d7d;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-change-info:hover,
.btn-add-friend:hover,
.btn-write-msg:hover {
    background-color: rgb(211, 48, 48);
}

.btn-add-friend {
    margin-right: 30px;
}

.btn-add-friend,
.btn-write-msg {
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    border: none;
    font-size: 14px;
    color: #fff;
    padding: 8px 10px;
    background-color: #7d7d7d;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile-menu {
    /* margin-left: 10vw; */
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100% !important;
    width: 130px;
    margin-bottom: 5px;
}

.profile-link {
    height: auto;
    width: auto;
    text-decoration: none;
    color: white;
    border-bottom: 4px solid transparent;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.profile-link:hover {
    color: rgb(211, 48, 48);
    border-bottom: 4px solid rgb(211, 48, 48);
}

.profile-link.active {
    color: rgb(211, 48, 48);
    border-bottom: 4px solid rgb(211, 48, 48);
}

.item-container-value {
    font-family: "PT Sans Narrow";
    color: #ffffff;
    font-size: 36px;
    height: auto;
}

.item-description {
    font-size: 14px;
    font-weight: 300 !important;
}

.movies-wrapper {
    margin-left: calc(10vw + 20px);
    margin-right: calc(10vw + 20px);
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.movie-list-container {
    flex: 0 1 calc(47%);
    color: white;
    padding-top: 20px;
    border-top: 1px solid rgba(175, 175, 175, 0.432);
}

.movie-container {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
}

.movie-count {
    padding-right: 10px;
    color: #999;
}

.movie-photo {
    margin-right: 20px;
}

.movie-photo img {
    width: 80px;
}

.movie-facts-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-info {
    flex-grow: 1;
}

.movie-title {
    font-weight: bold;
    font-size: 16px;
}

.movie-original-title,
.movie-facts-2 {
    font-weight: 300;
    font-size: 14px;
}

.movie-rating {
    margin-left: 150px;
    position: absolute;
    right: 30px;
    top: 10px;
    height: 100px;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movie-site-rating.low {
    color: red;
}

.movie-site-rating.medium {
    color: grey;
}

.movie-site-rating.high {
    color: green;
}

.movie-site-rating {
    font-weight: 800;
    font-size: 15px;
}

.movie-user-rating {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.movie-actions {
    position: relative;
}

.drop-btn {
    display: flex;
    justify-content: center;
    margin-right: 0 !important;
    width: 30px;
    height: 30px;
    background-color: #646464;
}

li.drop-btn {
    align-items: center;
}

.dropbtn .fa-play {
    transform: rotate(90deg);
}

.drop-content {
    top: 30px;
    left: 0px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-content a:hover {
    color: rgb(211, 48, 48);
    border-radius: 10px;
    background-color: #e6e6e6;
}

.drop-btn:hover .drop-content {
    display: block;
}
